<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
    <script src="https://unpkg.com/vue@2.6.14"></script>
    <style>
      #app {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: 'Montserrat', sans-serif;
        background: linear-gradient(to right, #ece9e6, #ffffff);
        }

      .calculator {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 300px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
      }

      .calculator button {
        margin: 5px;
        width: 60px;
        height: 60px;
        font-size: 24px;
        color: #ffffff;
        background-color: #333333;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        outline: none;
      }

      .calculator button:hover {
        background-color: #4a4a4a;
      }

      .calculator button.clear {
        background-color: #f44336;
      }

      .calculator .result {
        width: 100%;
        padding: 10px;
        font-size: 36px;
        text-align: right;
        color: #333333;
        background-color: #f5f5f5;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        margin-bottom: 10px;
      }
      
    </style>
  </head>
  <body>
    <div id="app">
      <div class="calculator">
        <div class="result">{{ result }}</div>
        <button @click="addDigit('7')">7</button>
        <button @click="addDigit('8')">8</button>
        <button @click="addDigit('9')">9</button>
        <button @click="operation('/')">/</button>
        <button @click="addDigit('4')">4</button>
        <button @click="addDigit('5')">5</button>
        <button @click="addDigit('6')">6</button>
        <button @click="operation('*')">*</button>
        <button @click="addDigit('1')">1</button>
        <button @click="addDigit('2')">2</button>
        <button @click="addDigit('3')">3</button>
        <button @click="operation('-')">-</button>
        <button @click="addDigit('0')">0</button>
        <button @click="addDigit('.')">.</button>
        <button @click="calculate()">=</button>
        <button @click="operation('+')" class="operation">+</button>
        <button @click="clear()" class="clear">C</button>
      </div>
    </div>
    <script>
      new Vue({
        el: '#app',
        data: {
          firstNumber: '',
          secondNumber: '',
          operator: '',
          result: '',
        },
        methods: {
          addDigit(digit) {
            if (!this.operator) {
              this.firstNumber += digit;
            } else {
              this.secondNumber += digit;
            }
          },
          operation(operator) {
            this.operator = operator;
          },
          clear() {
            this.firstNumber = '';
            this.secondNumber = '';
            this.operator = '';
            this.result = '';
          },
          calculate() {
            const firstNumber = parseFloat(this.firstNumber);
            const secondNumber = parseFloat(this.secondNumber);
    
            switch (this.operator) {
              case '+':
                this.result = firstNumber + secondNumber;
                break;
              case '-':
                this.result = firstNumber - secondNumber;
                break;
              case '*':
                this.result = firstNumber * secondNumber;
                break;
              case '/':
                this.result = firstNumber / secondNumber;
                break;
              default:
                this.result = 0;
            }
          },
        },
      });
    </script>
</body>
</html>    